.mechanics-container {
  padding: 30px;
  font-family: Arial, sans-serif;

  min-height: 100vh;
  background: linear-gradient( rgba(232, 229, 229, 0.9),rgba(188, 188, 227, 0.6));
  /* background-color: white; */
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
  text-decoration: underline;
}
.section {
  margin-bottom: 40px;
}

.toggle-btn {
  padding: 10px 18px;
  background-color: #f44522;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 0 auto; 
  
}

.toggle-btn:hover {
  background-color: #f44d4a;
  border: 1px solid red;
}

.file-placeholder {
  background: rgba(196, 224, 230, 0.5);
  padding: 15px;
  border-radius: 14px;
  margin-top: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #0e0f0e;
  border: 3px solid rgb(14, 131, 214);
  font-size: 18px;
  box-shadow: 5px 4px 5px rgb(203, 121, 121);
}

.horizontal-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.file-box {
  background: rgba(177, 173, 173, 0.3);
  padding: 20px;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  box-shadow: 0px 3px 5px rgb(55, 208, 222);
  margin: 10px;
}

.file-box h3 {
  margin-bottom: 15px;
}

.pdf-link {
  display: inline-block;
  padding: 8px 14px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.pdf-link:hover {
  background-color: #0056b3;
}

.youtube-box {
  background: rgba(224, 160, 160,0.3);
  padding: 10px;
  border-radius: 19px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;

}

.youtube-link {
  text-decoration: none;
  /* color: rgb(12, 234, 234); */
  background: rgba(142, 213, 224, 0.6);
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 20px;
  padding: 5px;
  color: blue;
  justify-content: space-between;


}


/* Floating WhatsApp Button */
.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #1ebe5d;
  color: white;
  padding: 10px 16px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
  transform: scale(1.05);
}

.whatsapp-icon {
  width: 22px;
  height: 22px;
}
.whatsapp-text{
  color:#efeded;
  font-size: 15px;
  
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .whatsapp-text {
    display: none;
   }

  .whatsapp-float {
    padding: 12px;
    border-radius: 50%;
  }

  .whatsapp-icon {
    width: 22px;
    height: 24px;
  }
}